.header {
  width: 100%;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: white;
  margin-bottom: 90px; }
  @media only screen and (max-width: 1025px) {
    .header {
      display: none; } }
  .header .wrapper {
    justify-content: space-between;
    width: 95%;
    display: inline-flex;
    height: 85%;
    align-items: baseline; }
    .header .wrapper .content {
      width: 35%; }
      .header .wrapper .content .image-logo {
        background-size: contain;
        background-repeat: no-repeat;
        width: 280px;
        height: 70px;
        margin: 0 auto; }
      .header .wrapper .content .list-icons {
        width: 100%;
        height: 70px;
        display: inline-flex;
        float: right;
        justify-content: flex-end;
        align-items: center; }
        .header .wrapper .content .list-icons.start {
          justify-content: flex-start; }
        .header .wrapper .content .list-icons .container-icons {
          width: 60px;
          height: 60px;
          margin-right: 3%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
          border-radius: 30px;
          color: #888787;
          cursor: pointer; }
          .header .wrapper .content .list-icons .container-icons:hover {
            border-radius: 30px;
            background-color: #eceaea;
            color: #ff902f; }
          .header .wrapper .content .list-icons .container-icons.active {
            border-radius: 30px;
            background-color: #eceaea;
            color: #ff902f; }
          .header .wrapper .content .list-icons .container-icons .image-icons {
            background-size: contain;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px; }

.side-bar {
  width: 480px;
  height: 100%;
  background-color: #ff902f;
  position: absolute;
  z-index: 9;
  left: -522px;
  transition: all 0.5s;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .side-bar .container-side {
    width: 85%;
    height: 85%;
    position: relative; }
    .side-bar .container-side .container-list {
      margin: 10% 0%;
      font-size: 1.8em;
      font-style: italic; }
      .side-bar .container-side .container-list ul.style-list {
        list-style: none;
        margin-block-start: 0.4em;
        margin-block-end: 0.4em;
        font-size: 0.7em;
        font-style: initial; }
        .side-bar .container-side .container-list ul.style-list li.topic-style {
          margin: 3% 0%;
          cursor: pointer; }
          .side-bar .container-side .container-list ul.style-list li.topic-style:hover {
            opacity: 0.8; }

@media only screen and (max-width: 1025px) {
  .close {
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 9%;
    font-size: 2.1em;
    z-index: 999; }
    .close:active {
      opacity: 0.3; }

  .header-mobile {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: white; }
    .header-mobile .wrapper {
      justify-content: space-around;
      width: 100%;
      display: inline-flex;
      align-items: baseline; }
      .header-mobile .wrapper .content {
        width: 100%; }
        .header-mobile .wrapper .content .list-icons {
          width: 100%;
          height: 30px;
          display: inline-flex;
          float: right;
          justify-content: space-around;
          align-items: center; }
          .header-mobile .wrapper .content .list-icons.start {
            justify-content: flex-start; }
          .header-mobile .wrapper .content .list-icons .container-icons {
            width: 40px;
            height: 40px;
            margin-right: 3%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            border-radius: 30px;
            color: #888787;
            cursor: pointer; }
            .header-mobile .wrapper .content .list-icons .container-icons:active {
              border-radius: 30px;
              background-color: #eceaea;
              color: #ff902f; }
            .header-mobile .wrapper .content .list-icons .container-icons.active {
              border-radius: 30px;
              background-color: #eceaea;
              color: #ff902f; }
            .header-mobile .wrapper .content .list-icons .container-icons .image-icons {
              background-size: contain;
              background-repeat: no-repeat;
              width: 20px;
              height: 20px; }

  .side-bar {
    width: 100%;
    height: 100%;
    background-color: #ff902f;
    position: absolute;
    z-index: 9;
    left: -1025px;
    top: 0;
    transition: all 0.5s;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .side-bar .container-side {
      width: 85%;
      height: 100%;
      position: relative; }
      .side-bar .container-side .container-list {
        margin: 10% 0%;
        font-size: 1.4em;
        font-style: italic; }
        .side-bar .container-side .container-list ul.style-list {
          list-style: none;
          margin-block-start: 0.4em;
          margin-block-end: 0.4em;
          font-size: 0.7em;
          font-style: initial; }
          .side-bar .container-side .container-list ul.style-list li.topic-style {
            margin: 3% 0%;
            cursor: pointer; }
            .side-bar .container-side .container-list ul.style-list li.topic-style:active {
              opacity: 0.8;
              transition: all 0.1s; } }

/*# sourceMappingURL=header.css.map */
