
.image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  .wrapper {
    width: 100%;
    height: 100%;
    .header-login {
      width: auto;
      min-height: 80px;
      background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1));
      display: flex;
      .title {
        text-align: center;
        margin: 0 auto;
        width: 50%;
        align-self: center;
        .text-title {
          width: auto;
          font-size: 3.1em;
          flex-grow: 49;
          font-weight: bold;
          font-family: sans-serif;
        }
      }
    }
    .body-login {
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 50%;
      display: flex;
      .container {
        width: 50%;
        margin-top: 10%;
        position: relative;
        .container-header {
          width: 100%;
          font-size: 30px;
          text-align: center;
          font-weight: bold;
          font-family: sans-serif;
        }
        .container-input {
          width: 50%;
          margin: 0 auto;

          .container-buttons {
            width: 100%;
            margin-top: 4%;
            .btn-config {
              width: 100%;
              height: 60px;
              margin-bottom: 5%;
            }
          }
        }
        .ipt-login {
          width: 100%;
        }

      }

      .container-cadastro {
        width: 50%;
        margin-top: 10%;
        position: relative;
        min-height: 100px;

        .container-header {
          width: 100%;
          font-size: 30px;
          text-align: center;
          font-weight: bold;
          font-family: sans-serif;
        }

        .container-input-cadastro {
          width: 70%;
          margin: 0 auto;
          margin-top: 2%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 6%;
          .ipt-cadastro {
            width: 100%;
          }

          .grid-cadastro {
            margin-right: 2%;
            width: 90%;
            &.t_auto{
              width: auto;
            }
            &.t_80{
              width: 80%;
            }
            &.t_70{
              width: 70%;
            }
            &.t_60{
              width: 60%;
            }
            &.t_50{
              width: 50%;
            }
            &.t_40{
              width: 40%;
            }
            &.t_30{
              width: 30%;
            }
            &.t_20{
              width: 20%;
            }
            &.t_10{
              width: 10%;
            }

          }

        }
        .ipt-cadastro {
          width: 100%;
        }
      }
    }

  }

}

@media only screen and (max-width: 1025px) {
  .image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    .wrapper {
      width: 100%;
      height: 100%;
      .header-login {
        width: auto;
        min-height: 100px;
        background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1));
        display: flex;
        .title {
          text-align: center;
          margin: 0 auto;
          width: 50%;
          align-self: center;
          .text-title {
            width: auto;
            font-size:3em;
            flex-grow: 49;
            font-weight: bold;
            font-family: sans-serif;
          }
        }
      }
      .body-login {
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 50%;
        display: flex;
        .container {
          position: relative;
          width: 75%;
          margin-top: 10%;
          .container-header {
            width: 100%;
            font-size: 1.7em;
            text-align: center;
            font-weight: bold;
            font-family: sans-serif;
          }
          .container-input {
            width: 100%;
            margin: 0 auto;

            .container-buttons {
              width: 100%;
              margin-top: 4%;
              .btn-config {
                width: 100%;
                height: 47px;
                margin-bottom: 5%;
              }
            }
          }
          .ipt-login {
            width: 100%;
          }

        }

        .container-cadastro {
          width: 100%;
          margin-top: 10%;
          position: relative;
          min-height: 100px;

          .container-header {
            width: 100%;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            font-family: sans-serif;
          }

          .container-input-cadastro {
            width: 75%;
            margin: 0 auto;
            margin-top: 11%;
            display: flex;
            margin-bottom: 5%;
            justify-content: space-between;
            .ipt-cadastro {
              width: 100%;
            }

            .grid-cadastro {
              margin-right: 2%;
              width: 90%;
              &.t_auto{
                width: auto;
              }
              &.t_80{
                width: 80%;
              }
              &.t_70{
                width: 70%;
              }
              &.t_60{
                width: 60%;
              }
              &.t_50{
                width: 50%;
              }
              &.t_40{
                width: 40%;
              }
              &.t_30{
                width: 30%;
              }
              &.t_20{
                width: 20%;
              }
              &.t_10{
                width: 10%;
              }

            }

          }
          .ipt-cadastro {
            width: 100%;
          }
        }
      }
    }

  }
}
