.container{
  //background-color: #f1f1f1;
  left: 0;
  right: 0;
  top: 7%;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), #f3f3f3);
}